body {
  padding: 0;
  max-width: 480px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
}


#container {
  display: flex;
  height: 55vh;
  width: 55vh;
  flex-wrap: wrap;
  border: 1px solid black;
}

.squareDiv {

  /* flex: 0 6.25%; */
}